<div th:fragment="main-content">
    <div th:if="${session.roleId == '01'}" class="row">
        <div class="col-12">
            <a th:href="@{/product/redirect-insert-page/{id}(id=${categoryId})}" class="btn btn-info">Add New</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>CategoryId</th>
                    <th>Image</th>
                    <th th:if="${session.roleId != '03'}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="products, state:${listDto.list}">
                    <td th:utext="${state.count}"></td>
                    <td>
                        <a th:href="@{/product/get-list-by-parent-id/{id}(id=${products.productId})}"
                           th:text="${products.productName}"></a>
                    </td>
                    <td th:text="${products.categoryId}"></td>
                    <td><img th:src="${products.img}" class="form-control" style="width:50%;height:100px"/></td>
                    <td th:if="${session.roleId == '02'}">
                        <a th:href="@{/orderDetails/create/{productId}(productId=${products.productId})}" class="btn btn-info">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </td>
                    <td th:if="${session.roleId == '01'}">
                        <a th:href="@{/product/get-by-uuid/{id}(id=${products.productId})}" class="btn btn-info">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a th:switch="${products.active}"
                           th:href="@{/product/perform-lock/{id}(id=${products.productId})}" class="btn btn-warning">
                            <i th:case="01" class="fa fa-unlock bigger-150 blue"></i>
                            <i th:case="02" class="fa fa-lock bigger-150 blue"></i>
                        </a>
                        <a th:href="@{/product/delete/{id}(id=${products.productId})}" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>