<div th:fragment="info-right">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">Another Elements</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" class="form-control" rows="4" name="description"></textarea>
            </div>
        </div>
    </div>
</div>